*{
	margin: 0px auto;
}

body{
	margin: 5px;
	background-color: #C3C3C3;
}
.bungkus {
	width: 80%;
}

.header {
	background-color: white;
	height: 60px;
	border-radius: 7px; 
	text-align: center;
	padding-top: 1%;
}

.menu {
	overflow: hidden;
}
.menu1 {
	margin-top: 5px;
	float: left;
	background-color: #7FD4FF;
	width: 33%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	height: 30px;
	border-radius: 10px 0 0 10px;
	padding-top: 5px;
}
.menu2 {
	margin-top: 5px;
	padding-top: 5px;
	float: left;
	background-color: #7FD4FF;
	width: 33%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	height: 30px;
}
.menu3 {
	border-radius: 0 10px 10px 0;
	padding-top: 5px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	margin-top: 5px;
	float: left;
	background-color: #7FD4FF;
	width: 34%;
	text-align: center;
	height: 30px;
}
a {
	text-decoration: none;
}
.menu1:hover, .menu2:hover, .menu3:hover {
	background-color: #DDDD08;
}

.isi {
	padding: 2%;
}

.footer {
	border-radius: 15px;
	background-color: #D2D2D2;
	text-align: center;
	color: red;
	padding: 1%;
}